certifi
chardet==3.0.4
et-xmlfile==1.0.1
idna==2.10
jdcal==1.4.1
requests==2.27.1
ruamel.yaml==0.16.10
ruamel.yaml.clib
flask==1.1.2
gunicorn==20.0.4
paho-mqtt==1.5.0
Celery==5.2.2
dill==0.3.3
protobuf==3.20.1
grpcio
grpcio-tools
boto3==1.18.21
loguru==0.5.3
wandb==0.12.9
psutil
pynvml
gevent
setproctitle
networkx
MNN==2.3.0
h5py
joblib
numpy<2.0
urllib3==1.26.11